
body{
margin:0;
font-family:Arial;
display:flex;
}

.sidebar{
width:230px;
background:#34495e;
color:white;
height:100vh;
padding:20px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:8px;
}

.sidebar a:hover{
background:#2c3e50;
}

.content{
flex:1;
padding:20px;
background:#f4f4f4;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
border:1px solid #ccc;
padding:10px;
}

.kanban{
display:flex;
gap:10px;
}

.coluna{
background:#ddd;
width:200px;
padding:10px;
border-radius:6px;
}
