
body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

.topo{
display:flex;
align-items:center;
gap:20px;
padding:15px;
background:#0b5ed7;
color:white;
}

.logo{
height:70px;
}

.novo{
padding:20px;
}

input,select,button{
padding:8px;
margin:5px;
}

button{
background:#ffc107;
border:none;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#e0a800;
}

.kanban{
display:flex;
gap:15px;
overflow-x:auto;
padding:20px;
}

.col{
background:white;
padding:10px;
border-radius:10px;
min-width:220px;
min-height:300px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
border-top:5px solid #ffc107;
}

.card{
background:#0b5ed7;
color:white;
padding:8px;
margin-top:10px;
border-radius:6px;
cursor:pointer;
}

.atrasado{
background:#dc3545;
}
